<h1 class="pslyle">Illustration</h1>
<div class="flexBox">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Emmaillustration</mat-card-title>
          <mat-card-subtitle>Sinfong Township</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/sea1.png" alt="Photo of sea">
        <mat-card-content>
          <p>
            Oh！<br>
            I want to wake up to this view every morning…
          </p>
          <p>
            #land's #landscape #ocean #sea #art #artwork #design 
            #designinspiration #illustrations #worldtraveler #viewtaiwan 
            #view #artist #posterdesign #wave #dribbble #behance
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Emmaillustration</mat-card-title>
            <mat-card-subtitle>Sinfong Township</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/sea2.png" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              Morning！<br>
              Footprints in the sand show where one has been.
            </p>
            <p>
              #land's #landscape #ocean #sea #design #illustrations 
              #boat #art #artist #artwork #designinspiration #designer 
              #viewtaiwan #view #posterdesign #dribbble #behance
            </p>    
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>

        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Emmaillustration</mat-card-title>
              <mat-card-subtitle>Keelung Taiwan 基隆</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/sea3.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Ha！<br>
              
                I'm so excited to go to keelung island by boat.
              </p>
              <p>
                 #land's#landscape #sea #design #illustrations 
                 #boat #art #artist #artwork #designinspiration 
                 #designer #viewtaiwan #view #posterdesign 
                  #dribbble #behance
                </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
</div>

    
