<mat-toolbar color="primary">
        <mat-toolbar-row>
            <section>
                <div class="example-button-row">
                  <button mat-raised-button (click)="test1Click()">卡片應用</button>
                  <button mat-raised-button class="marginLeft" (click)="test2Click()">表單範例</button>
                  <button mat-raised-button class="marginLeft" (click)="test3Click()">表格搜尋</button>
                </div>
              </section>
        </mat-toolbar-row>
      </mat-toolbar>
<router-outlet></router-outlet>
